<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <title>Data is loading.</title>
    <style>
        body, html {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

        .progress-bar {
            z-index: 1;
            position: absolute;
            top: 50%;
            height: 2px;
            background: #0d6efd;
        }

        .done {
            top: 0;
            height: 100%;
            width: 100%;
            transition: all .33s ease;
            background: #198754;
        }

        .count {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            font-weight: 100;
            font-size: 3em;
            margin-top: -1.33em;
            color: #0d6efd;
        }

        .info {
            position: absolute;
            top: 50%;
            margin-top: 1.33em;
            width: 100%;
            text-align: center;
            font-weight: 100;
            font-size: 1em;
            color: #0d6efd;
        }

        .finish {
            position: absolute;
            top: 50%;
            z-index: 999;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            width: 300px;
            flex-direction: column;
        }

        .finish h3 {
            margin-left: auto;
            margin-right: auto;
            color: #FFFFFF;
        }

        .form {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div class="finish" style="display:none;">
    <h3>Ready to start now!</h3>
    <form th:action="@{/}" th:method="get" class="form">
        <button type="submit" class="btn btn-dark"> Let's go!</button>
    </form>
</div>
<div class="progress-bar"></div>
<h1 class="count"></h1>
<h1 class="info">File <b id="file"> </b> is read at the moment. It takes approximately <b id="minutes"> </b> Seconds
    to finish.</h1>

<form th:action="@{/loading}" th:method="get" style="display:none;">
    <button type="submit" id="hiddenSubmit"></button>
</form>

<script th:inline="javascript">
  const bar = document.querySelector('.progress-bar');
  const finish = document.querySelector('.finish');
  const counter = document.querySelector('.count');
  const minElement = document.getElementById('minutes');
  const fileElement = document.getElementById('file');
  const loadingProgress = ( /*[[${progress}]]*/ 0) * 100;
  const seconds = /*[[${seconds}]]*/0;
  const totalFiles = /*[[${totalFiles}]]*/0;
  const currentFile = /*[[${currentFile}]]*/0;
  const isLoading = /*[[${isLoading}]]*/true;

  if (isLoading) {
    bar.style.width = loadingProgress + '%';
    counter.innerHTML = Math.round(loadingProgress) + '%';
    fileElement.innerText = `${currentFile}/${totalFiles}`;
    minElement.innerText = `${Number.parseInt(seconds)}`;
    setTimeout(function () {
      window.location.reload();
    }, 1000);
  } else {
    bar.className += " done";
    finish.style.display = "flex";
    document.querySelector('.info').style.display = "none";
  }
</script>
</body>
</html>
