<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transportation System</title>
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <script>
      console.log(/**[(${startIdErr})]**/)
      console.log("bla")
    </script>
</head>
<body>
<form th:action="@{/pages/shortestPath}" th:method="post" style="margin-top: 30px;">
    <div class="mb-3 container border-primary border bg-light border-3 rounded">
        <div class="row bg-primary p-2">
            <h3 class="text-white my-auto"> Calculate The Shortest Path Between Two Stops </h3>
        </div>
        <div class="row p-2">
            <div class="col p-2">
                <label for="startId3" class="form-label">Start Stop-ID*</label>
                <input th:name="startId" type="number" min="0" max="2147483646" class="form-control" id="startId3" required>
            </div>
            <div class="col p-2">
                <label for="endId3" class="form-label">Target Stop-ID*</label>
                <input th:name="endId" type="number" min="0" max="2147483646" class="form-control" id="endId3" required>
            </div>
        </div>
        <div class="row-cols-auto px-2 pb-2">
            <button type="submit" class="btn btn-outline-primary border-primary col">Calculate!</button>
        </div>
    </div>
</form>

<form th:action="@{/pages/stops}" th:method="post">
    <div class="mb-3 container border-primary border bg-light border-3 rounded">
        <div class="row bg-primary p-2">
            <h3 class="text-white my-auto"> Search a Stop By Name </h3>
        </div>
        <div class="row p-2">
            <div class="col p-2">
                <label for="stopName" class="form-label">Name of Stop</label>
                <input type="text" class="form-control" id="stopName" th:name="name">
            </div>
        </div>
        <div class="row-cols-auto px-2 pb-2">
            <button type="submit" class="btn btn-outline-primary border-primary col">Search!</button>
        </div>
    </div>
</form>

<form th:action="@{/pages/trips}" th:method="post">
    <div class="mb-3 container border-primary border bg-light border-3 rounded">
        <div class="row bg-primary p-2">
            <h3 class="text-white my-auto"> Search For a Trip By Arrival-time </h3>
        </div>
        <div class="row p-2">
            <div class="col p-2">
                <label for="stopTime" class="form-label">Arrival-time</label>
                <input type="time" class="form-control" step="1" id="stopTime" th:name="time" required>
            </div>
        </div>
        <div class="row-cols-auto px-2 pb-2">
            <button type="submit" class="btn btn-outline-primary border-primary col">Search!</button>
        </div>
    </div>
</form>
</body>
</html>
