<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transportation System</title>
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <style>
        .shortestPath {
            flex-flow: row wrap;
            display: flex;
        }
        .shortestPath > *:last-child > span {
            display: none;
        }
    </style>
</head>
<body>
<button class="btn btn-outline-primary m-2" onclick="history.back()">Go Back</button>
<div class="alert alert-danger mx-2" th:if="${error}"> Error: [[${error}]]</div>
<div th:unless="${error}" class="mb-3 container border-primary border bg-light border-3 rounded">
    <div class="row bg-primary p-2">
        <h3 class="text-white"> Shortest Path Results</h3>
    </div>
    <div class="row p-2">
        <h4>Total Cost: <span style="margin-left: 10px;" class="text-info">[[${cost}]]</span></h4>
    </div>
    <div class="p-2 shortestPath">
        <h4 style="margin-right: 10px;" class="my-auto">Shortest Path: </h4>
        <div th:each="stop: ${shortestPath}" class="text-info my-auto">
            [[${stop.id}]] <span>-> </span>&nbsp;
        </div>
    </div>
    <ul style="max-height: 500px; overflow-y: auto;" class="row-cols-auto list-group border-secondary border-1 m-2">
        <li class="list-group-item card card-body pb-2 mb-2" th:each="stop: ${shortestPath}">
            <h4 class="card-title">
                Stop: [[${stop.id}]]
            </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: [[${stop.id}]]</li>
                <li class="list-group-item">Name: [[${stop.name}]]</li>
                <li class="list-group-item">Description: [[${stop.description}]]</li>
                <li class="list-group-item">Zone-ID: [[${stop.zoneId}]]</li>
                <li class="list-group-item">Latitude: [[${stop.lat}]]</li>
                <li class="list-group-item">Longitude: [[${stop.lon}]]</li>
                <li class="list-group-item">Location-Type: [[${stop.locationType}]]</li>
                <li class="list-group-item">Parent-Station: [[${stop.parentStation}]]</li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
