<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transportation System</title>
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
<button class="btn btn-outline-primary m-2" onclick="history.back()">Go Back</button>
<div class="alert alert-primary mx-2" th:if="${isEmpty}"> There are no trips matching the time: [[${time}]]!</div>
<div th:unless="${isEmpty}" class="mb-3 container border-primary border bg-light border-3 rounded">
    <div class="row bg-primary p-2">
        <h3 class="text-white">Search results for time: "[[${time}]]"</h3>
    </div>
    <ul style="max-height: 500px; overflow-y: auto;" class="row-cols-auto list-group border-secondary border-1 m-2">
        <li class="list-group-item card card-body pb-2 mb-2" th:each="trip: ${trips}">
            <h4 class="card-title">
                Trip: [[${trip.tripId}]]
            </h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: [[${trip.tripId}]]</li>
                <li class="list-group-item">Stop-ID: [[${trip.stopId}]]</li>
                <li class="list-group-item">Arrival-Time: [[${trip.arrivalTime}]]</li>
                <li class="list-group-item">Departure-Time: [[${trip.departureTime}]]</li>
                <li class="list-group-item">Stop-Sequence: [[${trip.stopSequence}]]</li>
                <li class="list-group-item">Head-Sign: [[${trip.headSign}]]</li>
                <li class="list-group-item">Pick-up-Type: [[${trip.pickUpType}]]</li>
                <li class="list-group-item">Drop-off-Type: [[${trip.dropOffType}]]</li>
                <li class="list-group-item">Shape Distance Traveled: [[${trip.shapeDistanceTraveled}]]</li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
